@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Josefin+Sans:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:wght@200;400&family=Nunito:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@500&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Josefin-Sans', sans-serif ;
    margin: 0;
}

.film-container {
    margin: 20px 0;
}

.film-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    perspective: 1000px;
    margin-bottom: 25px;
}

.koltuk {
    background-color: #808080;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.koltuk.secili {
    background-color: #CD5C5C;
}

.koltuk.dolu {
    background-color: #fff;
}

.koltuk:nth-of-type(2) {
    margin-right: 20px;
}

.koltuk:nth-last-of-type(2) {
    margin-left: 20px;
}

.koltuk:not(.dolu):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.durum .koltuk:not(.dolu):hover {
    cursor: default;
    transform: scale(1);
}

.durum {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #808080;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.durum li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.durum li small {
    margin-left: 2px;
}

.row {
    display: flex;
}

.ekran {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #CD5C5C;
}